# Supabase — get these from your Supabase project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://ukqdxatnwbnguetlzoil.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVrcWR4YXRud2JuZ3VldGx6b2lsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NjAzNzYsImV4cCI6MjA5NjMzNjM3Nn0.pb6u_Yyq99X4g5wuKds6446BsIDv20lj19LKXaU9CWI
